
$theme-colors: (
  'primary': #a7bc5be6,
  'secondary': #8da242,
  'third': #1d2228,
  'fourth': #a7bc5b,
  'fifth': #8da242e6,
  'dark': #8da242,
  'light': #8da242
);
.white{
  color: white;
}
.logo {
  margin-bottom: -20px;
}
.sign-in {
  margin-right: 80px;
}

.hometxt {
  font-size: 3vw;
}

.font {
  font-family: 'Josefin Sans', sans-serif;
}

.tbl {
  font-size: 2vw;
}
.round {
  border-style: solid;
  border-radius: 10px;
  border-color: #1d2228;
}
.add {
  font-size: 4vw;
  text-align: center;
  color: #1d2228;
  width: 100%;
}
.full-width {
  width: 100%;
}
.heading {
  font-size: 3vw;
  padding-left: 3%;
  padding-top: 1%;
  color: #1d2228;
}

.row-rounded {
  background: #fffffff2;
  border-radius: 15px 50px 30px;
  margin: 20%;
  padding-bottom: 6%;
  padding-top: 2%;
}

.row-rounded-home {
  background: #fffffff2;
  border-radius: 8%;
  margin-top: 20%;
  padding-bottom: 4%;
  padding-top: 4%;
  border-color: #8da242;
  border-style: solid;
  border-radius: 15%;
  text-align: center;
}

.bubble {
  background-color: white;
  font-size: 2vw;
  color: white;
  border-radius: 40%;
  width: 8%;
  height: auto;
  margin-left: 10%;
  border-color: #8da242;
  border-style: solid;
  border-radius: 40%;
}

.cancel {
  width: 6%;
}

.small-bubble {
  background-color: white;
  font-size: 1vw;
  color: white;
  border-radius: 40%;
  width: 4%;
  height: auto;
  margin-left: 6%;
  border-color: #8da242;
  border-style: solid;
  border-radius: 40%;
}

body {
  background-image: url('./images/backgroundimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
